@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{
    <script src="~/js/Home/Index.js"></script>
}

<ul>
    <li><a asp-action="IndexSimpleType">IndexSimpleType</a></li>
    <li><a asp-action="IndexComplexType">IndexComplexType</a></li>
</ul>
<div class="container">
    <form id="form1">
        <span id="Label1">Enter Temperature : </span>
        <br />
        <input type="text" id="TextBox1" />
        <select id="DropDownList1">
            <option value="C">Celsius</option>
            <option value="F">Fehrenheit</option>
        </select>
        <br />
        <input id="Button1" type="button" value="Convert" />
        <br />
        <span id="lblResult" style="font-weight:bold;color:red"></span>
    </form>
</div>

<button id="btnMethod1">Method 1 using ajax Promise interface</button>
<button id="btnMethod2">Method 2 standard ajax call</button>
<button id="btnMethod3">Method 3 call anything</button>
<button id="btnMethod4">Method 4 call JObject</button>
<button id="btnMethod5">Method 5 call JObject</button>